svg {
  margin: 0.5em;
  padding: 20px;
  border: 2px solid gray;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.y-grid, .x-grid {
  stroke: #000;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.helpline-grid
{
  stroke: #ccc;
  stroke-dasharray: 5, 5;
}

.labels {
  font-size: 12px;
}

.label-title {
  font-size: 12px;
  fill: black;
}

#title{
  font-size: 13px;
}

.data {
  fill: red;
  stroke-width: 1;
}
