<app-line-chart [def]="def1" [height]="400" [width]="800"></app-line-chart>
<app-line-chart [def]="def1" [height]="200" [width]="400"></app-line-chart>
<app-line-chart [def]="def1" [height]="300" [width]="600"></app-line-chart>
<app-line-chart [def]="def2" [height]="400" [width]="800"></app-line-chart>
<app-line-chart [def]="def2" [height]="200" [width]="400"></app-line-chart>
<app-line-chart [def]="def2" [height]="300" [width]="600"></app-line-chart>
<app-line-chart [def]="def3" [height]="400" [width]="800"></app-line-chart>
<app-line-chart [def]="def3" [height]="200" [width]="400"></app-line-chart>
<app-line-chart [def]="def3" [height]="300" [width]="800"></app-line-chart>
